extends layout
block content
  h1(style="font-family: 'Teko', sans-serif; text-align: center;")|Random Swanson Quotes
  div(class="row")
      div(class="col" style='text-align: center; ')
        button(style='border-radius:3px; margin-top:30px;' onclick='getQuote()') Swanson Quote
  div(class="row")
      div(class="col-sm-12" style='text-align: center;' id="quote")
        p#quoteBlock(style="font-size:30px;font-family: 'Teko', sans-serif; text-align: center; padding-top:20px;")
  script.
      function getQuote(){
      let quoteBlock = document.getElementById("quoteBlock");
      fetch('https://ron-swanson-quotes.herokuapp.com/v2/quotes')
      .then(response => response.json())
      .then(data => quoteBlock.innerHTML = data);
      // Show result as JSON
      }
