extends layout
block content
  div(class="row")
      div(class="col" style='text-align: center; ')
        button(style='border-radius:3px; margin-top:30px;' onclick='getQuote()') Swanson Quote
  div(class="row")
      div(class="col-sm-12" style='text-align: center;' id="quote")
        p#quoteBlock(style="font-size:30px;font-family: 'Teko', sans-serif; text-align: center; padding-top:20px;")
  script.
      function getQuote(){
      let quoteBlock = document.getElementById("quoteBlock");
      fetch('https://ron-swanson-quotes.herokuapp.com/v2/quotes')
      .then(response => response.json())
      .then(data => quoteBlock.innerHTML = data);
      // Show result as JSON
      }
      function otherImages(){
      const xhr = new XMLHttpRequest();
      const url = 'https://serpapi.com/search.json?q=Apple&tbm=isch&ijn=0&api_key=983d67447405c7bd01ea550edb53b7fc1968478452da781ac9bfe375ace88b7d';
      xhr.open('GET', url);
      xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
      xmlDoc = xhr.responseXML;
      }
      xhr.send();
      }
      }
      function getImages(items){
      for(i=0; i<items.length; i++){
      console.log(items[i]);
      }
      }
